<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PivoCapture" verbose="1" >
    <parameter name="config-file" value="src/test/resources/config.properties" />
    <test name="LoginTest" >
        <groups>
            <run>
                <include name="abstract" />
                <include name="LoginTest" />
            </run>
        </groups>
        <classes>
            <class name="app.pivocapture.tests.LoginTest" />
        </classes>
    </test>

</suite>
